.footer-page {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0 43px;

    &__social-media {
        display: flex;
        list-style-type: none;
        gap: 20px;
        align-items: center;
        margin-bottom: 16px;
    }

    &__credits {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: $gray-200;
        text-decoration: none;
    }
}
